html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
<<<<<<< HEAD
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
=======
>>>>>>> gh-pages
  user-select: none;
}
.view {
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.level {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.tilespace {
  position: relative;
  z-index: 1;
}
.beingspace {
  position: relative;
  z-index: 2;
}
.infospace {
  position: relative;
  z-index: 3;
}
.contextmenu {
  position: absolute;
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 3px;
}
.option {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  line-height: 0.7em;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  padding: 0 15px 0 10px;
  margin: 2px 3px;
  white-space: nowrap;
  background: #808080;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  box-shadow: rgba(0,0,0,0.15) 0 0 5px inset;
}
.option:hover {
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: rgba(0,0,0,0.25) 0 0 5px inset;
  background: #c0c0c0;
}
.option img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top: 2px;
  outline: none;
  border-radius: 2px;
}
.option span {
  line-height: 20px;
  vertical-align: top;
}
.sprite {
  position: absolute;
}
textarea {
  padding: 0;
  width: 100%;
  height: 100%;
}
.glossy::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 50%;
  top: 5%;
  left: 5%;
  border-radius: 8px 8px 32px 32px/8px;
<<<<<<< HEAD
  -moz-border-radius: 8px 8px 32px 32px/8px;
  -webkit-border-radius: 8px 8px 32px 32px/8px;
  background: -webkit-gradient(linear, 0% 0, 100% 0, from(rgba(255,255,255,0.05)), to(rgba(255,255,255,0.05)), color-stop(0.5, rgba(255,255,255,0.2)));
  background: -moz-linear-gradient(left, rgba(255,255,255,0.05), rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.05));
  background: -o-linear-gradient(left, rgba(255,255,255,0.05), rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.05));
=======
>>>>>>> gh-pages
  background: gradient(linear, 0% 0, 100% 0, from(rgba(255,255,255,0.05)), to(rgba(255,255,255,0.05)), color-stop(0.5, rgba(255,255,255,0.2)));
}
